<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="projectui.ProjectView"
            id="projectui.view"
            name="Project View"
            restorable="true">
      </view>
   </extension>

</plugin>
